html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background: gray;
  margin: 0 auto;
  width: 90%;
}

@media only screen 
and (min-width: 375px) 
and (max-width: 414px) {

  .amount-field {
    /* padding: 0px; */
    position: relative;
    text-align: center;
  }

  h1, h2 {
    text-align: center;
  }

  .text-box {
    height: 60px;
    width: 200px; 
    /* margin: 0 auto; */
    font-size: 40px;
    border: solid 1px;
    padding: 20px;
    /* position: absolute; */
  }
  .buttons {
    text-align: center;
  }

  /* .button-one {

  } */

  .dollar-sign {
    /* display: inline-block; */
    font-size: 50px;
    position: absolute;
    bottom: 2px;
    left: 40px; 
    color: red;
  }
  .display-text {
    font-size: 40px;
    width: 280px;
    text-align: right;
  }

  input {
    text-align: right;
  }

  button {
    -webkit-appearance: none;
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
  }
  
}